@model August7thWebsite.Models.ScoreCard
@{
    ViewData["Title"] = "JudgeBout";
}



<style>
    .CenterTextColumn {
        text-align: center
    }
</style>

<h1 style="text-align:center">This is the "Create" page</h1>
<div class="picture" style=" background-color: #F20519; margin:20px; padding: 20px;  border: 10px dashed black; color: white; text-align:center">

    <h2>Your Boxing Scorecard</h2>
    

    <hr />
    <form asp-action="Create">
        <fieldset>
            <legend>This Scorecard Creator:</legend>
            <label for="FirstNameOnCard">First name:</label>
            <input asp-for="FirstNameOnCard" /><br><br>
            <label for="LastNameOnCard">Last name:</label>
            <input asp-for="LastNameOnCard " /><br><br>

            <legend>Fight Details & Names:</legend>
            <label for="scorecard">Name of fight:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
            <select asp-for="FightId">
                <option value="">MUST select one below >>></option>
                <option value="1">Charlo v. Castano</option>
            </select>
            <br />
            <label for="scorecard">Boxer1's Name is:</label>
            <select asp-for="Boxer1">
                <option value="">MUST select one below >>></option>
                <option value="Charlo">Charlo</option>
            </select><br />
            <label for="scorecard">Boxer2's Name is:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
            <select asp-for="Boxer2">
                <option value="">MUST select one below >>></option>
                <option value="Castano">Castano</option>
            </select>
            <br />
           
            <label for="DateCreated">Today's Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input asp-for="DateCreated" /><br><br>
        </fieldset>
        <!--this is where the form sends the info , if i need to check, view page source on the right click-->
        <input asp-for="FightId" type="hidden" value="@ViewBag.FightId" />
        <center>
            <table>
                <tr>

                    <th><h3>Round</h3></th>
                    <th class="CenterTextColumn"><h3>boxer 1</h3></th><!--need to accept input from class-->
                    <th class="CenterTextColumn"><h3>boxer 2</h3></th>
                    <th class="CenterTextColumn"><h3>Determinate Factor</h3></th>
                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>1</h3></td>
                    <td><input asp-for="Round_1_B1" class="form-control" /></td>
                    <td><input asp-for="Round_1_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R1">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>2</h3></td>
                    <td><input asp-for="Round_2_B1" class="form-control" /></td>
                    <td><input asp-for="Round_2_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R2">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>3</h3></td>
                    <td><input asp-for="Round_3_B1" class="form-control" /></td>
                    <td><input asp-for="Round_3_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R3">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>4</h3></td>
                    <td><input asp-for="Round_4_B1" class="form-control" /></td>
                    <td><input asp-for="Round_4_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R4">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>5</h3></td>
                    <td><input asp-for="Round_5_B1" class="form-control" /></td>
                    <td><input asp-for="Round_5_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R5">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>

                <tr>

                    <td class="CenterTextColumn"><h3>6</h3></td>
                    <td><input asp-for="Round_6_B1" class="form-control" /></td>
                    <td><input asp-for="Round_6_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R6">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>

                <tr>

                    <td class="CenterTextColumn"><h3>7</h3></td>
                    <td><input asp-for="Round_7_B1" class="form-control" /></td>
                    <td><input asp-for="Round_7_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R7">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>8</h3></td>
                    <td><input asp-for="Round_8_B1" class="form-control" /></td>
                    <td><input asp-for="Round_8_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R8">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>9</h3></td>
                    <td><input asp-for="Round_9_B1" class="form-control" /></td>
                    <td><input asp-for="Round_9_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R9">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>10</h3></td>
                    <td><input asp-for="Round_10_B1" class="form-control" /></td>
                    <td><input asp-for="Round_10_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R10">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>11</h3></td>
                    <td><input asp-for="Round_11_B1" class="form-control" /></td>
                    <td><input asp-for="Round_11_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R11">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td class="CenterTextColumn"><h3>12</h3></td>
                    <td><input asp-for="Round_12_B1" class="form-control" /></td>
                    <td><input asp-for="Round_12_B2" class="form-control" /></td>
                    <td>
                        <label for="scorecard">Choose factor:</label> <!--need to send this data to the database, need to display the data, need to be able to display the scorecard-->
                        <select asp-for="DeterminateFactor_R12">
                            <option value="">MUST select one below >>></option>
                            <option value="Effective Aggression">effective aggression</option>
                            <option value="Defense">defense</option>
                            <option value="Clean, Hard Punching">clean, hard punching</option>
                            <option value="Ring Generalship">ring generalship</option>
                        </select>
                    </td>

                </tr>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </center>
    </form>
</div>

<a asp-action="Index">Back to Home</a>

<script>
    function myFunctionA() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("moreA");
        var btnText = document.getElementById("myBtnA");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

