<!DOCTYPE html>
<html>
<head>
    <style>
        .menuContainer {
            display: flex;
        }

        #B1 {
            float: left;
            text-align: left;
        }

        #B2 {
            float: right;
            text-align: right;
        }
    </style>

</head>

<body>

    <h1><center> Prerecorded Boxing Judging Tutorials</center></h1>
    <h2>@ViewData["Title"]</h2>
    @*<h3>@ViewData["message"]</h3>*@
    <p></p>

    <div style="margin:20px; padding:20px; border: 10px dashed black;background-color: gray;color: white">
        <center>
            <center><h2><br>Clean, Hard Punching<br></h2></center>
            <video width="320" height="240" controls>
                <source src="\AudioFiles\Gatti_Ward.mp4">
            </video>
        </center>
    </div>
    <div style="margin:20px; padding:20px; border: 10px dashed black;background-color: gray;color: white">
        <center>
            <center><h2><br>Defense<br></h2></center>
            <video width="320" height="240" controls>
                <source src="\AudioFiles\Canelo.mp4">
            </video>
        </center>
    </div>
    <div style="margin:20px; padding:20px; border: 10px dashed black;background-color: gray;color: white">
    <center>
        <center><h2><br>Ineffective Aggression<br></h2></center>
        <video width="320" height="240" controls>
            <source src="\AudioFiles\Ineffective.mp4">
        </video>
    </center>
    </div>
    @*<p> Name of the judge: @ViewData["myJudgeName"] </p>*@
    <p></p>

    @*<form action="/action_page.php">

            <div class="menuContainer">
                <div id="B1">

                    <label for="Boxer_1 score">Enter Score Boxer 1:</label>

                    <select name="B1Score">
                        <option value="">Score</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>


                    </select>
                </div>


                <br><br>
                <div id="B2">

                    <label for="Boxer_2 score">Enter Score Boxer2:</label>
                    <select name="B2Score">
                        <option value="">Score</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>

                        <label for="Boxer_1 score">Enter Score Boxer 2:</label>

                    </select>
                </div>

                <br><br>
                <div>

                    <br><br>
                </div>


            </div>


            <input type="submit" runat="server" value="Submit">
            <asp:Button Text="Submit" runat="server" OnClick="Submit" />


        </form>*@
   
    @*start Zoom meetings here*@

</body>
</html>
