
@{
    ViewData["Title"] = "Home Page";
}
<style>
    * {
        box-sizing: border-box;
    }

    #myid {
        font-family: 'Goudy Stout';
    }

    #myida {
        font-family: Elephant;
    }

    .column {
        float: left;
        width: 50%;
        padding: 15px;
    }

    .column1 {
        float: left;
        width: 33.33%;
        padding: 15px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .flip-card {
        background-color: transparent;
        width: 1000px;
        height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: cornflowerblue;
        color: black;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
    }
</style>

<div class="picture" style=" background-color: yellow; margin:20px; padding: 20px;  border: 10px dashed black; color: black">
    <div class="text-center">

        <h1> Video & Results from August 7th Boxing Matches in Moundsville </h1>
        <h1> ________________________________________</h1>
        <h3>Sikole v. Shodja </h3>
        <!--<h4 id="myida">  <a href="/TicketBuyers/Create">Click Here to Enter Information to Win TWO Free General Admission Tickets!!!</a></h4>-->
        <video width="320" height="240" controls>
            <source src="~/AudioFiles/Small_Sikole_Shodja.mp4" type="video/mp4">
        </video>
        <h1> ________________________________________</h1>
    </div>
    <br />
    <div class="text-center">
        <h3>Manna v. Satterfield</h3>

        <!--<h4 id="myida">  <a href="/TicketBuyers/Create">Click Here to Enter Information to Win TWO Free General Admission Tickets!!!</a></h4>-->
        <video width="320" height="240" controls>
            <source src="~/AudioFiles/Small_MannaSatter.mp4" type="video/mp4">
        </video>
        <h1> ________________________________________</h1>
    </div>
    <div class="text-center">
        <h3>Mayo v. Trujillo</h3>

        <!--<h4 id="myida">  <a href="/TicketBuyers/Create">Click Here to Enter Information to Win TWO Free General Admission Tickets!!!</a></h4>-->
        <video width="320" height="240" controls>
            <!--<source src="~/AudioFiles/Final_Mayo_Trujillo.mp4" type="video/mp4">-->
        </video>
        <h1> ________________________________________</h1>
    </div>
    <div class="text-center">
        <h3>Best v. Zalus</h3>

        <!--<h4 id="myida">  <a href="/TicketBuyers/Create">Click Here to Enter Information to Win TWO Free General Admission Tickets!!!</a></h4>-->
        <video width="320" height="240" controls>
            <source src="~/AudioFiles/Small_Best_Zalus.mp4" type="video/mp4">
        </video>
        <h1> ________________________________________</h1>
    </div>
    <div class="text-center">
        <h3>Cimino v Hopkins</h3>

        <!--<h4 id="myida">  <a href="/TicketBuyers/Create">Click Here to Enter Information to Win TWO Free General Admission Tickets!!!</a></h4>-->
        <video width="320" height="240" controls>
            <source src="~/AudioFiles/Small_Cimino_Hopkins.mp4" type="video/mp4">
        </video>
        <h1> ________________________________________</h1>
    </div>
</div>
<div class="picture" style=" background-color: orange; margin:20px; padding: 20px;  border: 10px dashed black; color: black">


    <div class="text-center">

       <!--<a href="https://madeforsports.com/"> click here for the best boxing glove reviews</a>-->
        <h3 id="myid">Promoter Jim Frio</h3>
        <h3 id="myid"> & </h3>

        <h3 id="myid">Matchmaker Mike Murray</h3>
        <br>
        <h3 id="myid">present:</h3>
        <br>
        <h2 id="myida">August 7th Professional & Amateur Boxing, Moundsville, WV<i></i></h2><br>

        <img src="~/Images/Card.jpg" alt="poster" class="center" width="830" height="1200" />
        <p>Click  to download the scorecard:</p>

        <a href="/Images/12RoundFinal.jpg" download>
            <img src="/Images/Card.jpg" alt="JPG" width="104" height="142">
        </a>
    </div>
    <br>


</div>
<br>

<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>
<br>
<div class="picture" style=" background-color: blue; margin:20px; padding: 20px;  border: 10px dashed black; color: white">
    <div class="text-center">

        <h1 id="myid">Featured Event!</h1>
        <br>
        <h2 id="myida">Sikole  &nbsp;  v. &nbsp;  Shodja</h2><br>
    </div>
    <img src="Images\Co-Main (2).png" alt="Co-Main" style="width:100%">
</div>
<br>
<div class="picture" style=" background-color: red; margin:20px; padding: 20px;  border: 10px dashed black; color: white">

    <div class="text-center">
        <h2 id="myid">Featured Professional Event!</h2>
        <br>
        <h4 id="myida">Mike Manna<i>&nbsp;&nbsp;&nbsp;&nbsp;'The Pittsburgh Bull'</i></h4><br>
        <h4 id="myida">v.</h4><br>
        <h4 id="myida"> Andrew Satterfield<i> &nbsp;&nbsp;&nbsp;&nbsp;'Parkersburg's Finest'</i></h4><br>

    </div>

    <div class="row">

        <div class="column">
            <img src="Images\Manna.jpg" alt="Manna" style="width:100%">
        </div>
        <div class="column">
            <img src="Images\200px-AndrewSatterfield_profile.jpeg" alt="Satterfield" style="width:100%">
        </div>

    </div>
</div>

<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color: aqua">
        <audio controls>
            <source src="\AudioFiles\manna&Holiday.m4a">
        </audio>
        <h3>Listen to a podcast interview with Mike Manna & Cutman Eddie Holiday</h3>
        <p>Mike Manna-- A Professional Inside & Outside the Ring, plus Cutman Eddie Holiday--Both men in the sport for the right reasons!<span id="dots"></span><span id="more">&nbsp; &nbsp;I spent time in the gym with Mike Manna and pro cutman Eddie Holiday as Mike trains for the headline event with Andrew Satterfield on August 7th in Moundsville, WV.  We covered Mike's reasons for donating his purse to charitable causes, how he maintains two professional careers: Insurance and Professional Boxing. Plus, Cutman Eddie Holiday corners pro boxers for the right reasons.  Don't miss this interview!</span></p>
        <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
</div>


<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color: aqua">
        <audio controls>
            <source src="\AudioFiles\FrioAdvantagesUSABoxing.wav">
        </audio>
        <h3>Listen to a podcast interview with Mr. Jim Frio about the advantages of USA Boxing</h3>
        <p>Live Interview from Board's Boxing (Knoxville/Toronto, Ohio), May 8th, 2021 <span id="dots"></span><span id="more">&nbsp; &nbsp;I spent time with Mr. Jim Frio discussing USA Boxing at an amateur event at Mr. Joe Board's gym in Toronto (Knoxville), Ohio.</span></p>
        <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
</div>

<div class="picture" style=" background-color: hotpink; margin:20px; padding: 20px;  border: 10px dashed black; color: white">

    <div class="text-center">
        <h1>The Ring Girls!</h1>
        <h3>Hover over the name to see the line-up:</h3>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1><br /> <br>Sindel</h1>

            </div>
            <div class="flip-card-back">
                <img src="Images\Sindel.jpg" alt="pix" style="width:25%">
            </div>
        </div>
    </div>
</div>
<br>
<div class="picture" style=" background-color: hotpink; margin:20px; padding: 20px;  border: 10px dashed black; color: white">


    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1><br /> <br>Cheryl</h1>

            </div>
            <div class="flip-card-back">
                <img src="Images\Sorice (2).jpg" alt="pix" style="width:25%">
            </div>
        </div>
    </div>

</div>
<br>
<div class="picture" style=" background-color: hotpink; margin:20px; padding: 20px;  border: 10px dashed black; color: white">


    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1><br /> <br>Lori</h1>

            </div>
            <div class="flip-card-back">
                <img src="Images\IMG_0751.jpg" alt="pix" style="width:25%">
            </div>
        </div>
    </div>
</div>

<div class="picture" style=" background-color: yellow; margin:20px; padding: 20px;  border: 10px dashed black; color: black">


    <div class="text-center">

        <h2 id="myid">Professional Fighters</h2>
        <br>
        <h3 id="myida">Ryan Carroll (Parkersburg, WV)&nbsp; v. &nbsp; Kenny Davis, Jr. (Reno, NV)</h3><br>
        <img src="Images\Davis_Carroll.png" alt="DavisCarroll" style="width:50%">
    </div>


</div>

<div class="picture" style=" background-color: gray; margin:20px; padding: 20px;  border: 10px dashed black; color: white">
    <div class="text-center">

        <h2 id="myida">Ms. Chloe Lash sings the National Anthem</h2>

    </div>
    <img src="Images\blur_edgesChloe.jpg" alt="Chloe" style="width:100%">

</div>
<div class="picture" style=" background-color: black; margin:20px; padding: 20px;  border: 10px dashed black; color: white">


    <div class="text-center">

        <h1 id="myida">Your Matchmaker</h1>
        <h2>
            MMA Legend Mr. Mike Murray<br>
        </h2>
        <br> <br>
        <h1 id="myida">Your Promoter</h1>

        <h2>
            Former Boxing Judge/Commissioner, Mr. Jim Frio <br>
        </h2>
    </div>
    <div class="row">

        <div class="column">
            <img src="Images\MurrayBest.jpg" alt="Best" style="width:100%">
        </div>
        <div class="column">
            <img src="Images\Frio4.jpg" alt="Best" style="width:100%">
        </div>

    </div>
</div>
<div class="picture" style=" background-color: forestgreen; margin:20px; padding: 20px;  border: 10px dashed black; color: white">


    <div class="text-center">

        <h1 id="myida">Exciting Professional & Amateur MatchUps</h1>
        <br>
        <h2 id="myida">Professional Fighters</h2>
        <h2>Nelson Best v. Paul Zalus</h2>
        <br>
        <h2 id="myida">Amateur Boxers</h2>
        <h2>Tanya Hopkins v. Jess Cimino</h2>
    </div>


    <div class="text-center">
        <img src="Images\CiminoBestZalusHopkins.png" alt="ProAm" style="width:100%" />
    </div>
</div>
<!--protect from comments-->
