
@{
    ViewData["Title"] = "Home Page";
}
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 15px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<div class="picture" style=" background-color: #F20519; margin:20px; padding: 20px;  border: 10px dashed black; color: white">
    @* <img src="~/Images/JT_Judge.PNG " alt="dogs" class="center" />*@

    <div class="text-center">
        <h1 class="display-4">August 7th, 2021<br> Moundsville, West Virginia</h1><br>
        <br>
        <h1>Featuring Two Featured Main Events!</h1>
        <br>
        <h2>Mike Manna<i> 'The Pittsburgh Bull" </i><br>v.<br><br> Andrew Satterfield<i> 'Parkersburg's Finest"</i></h2><br>
        <h3>
            Bragging Rights at Stake!<br><br>

        </h3>
    </div>
</div>
<br>

<div class="row">
    <div class="column">
        <img src="Images\200px-AndrewSatterfield_profile.jpeg" alt="Satterfield" style="width:100%">
    </div>
    <div class="column">
        <img src="Images\Manna.jpg" alt="Manna" style="width:100%">
    </div>

</div>
<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 10px dashed black; color: white">
        <center><h2><br>Listen to a podcast interview with Mike Manna & Cutman Eddie Holiday<br><br></h2></center><br />

        <center>
            <audio controls>
                <source src="\AudioFiles\manna&Holiday.m4a">
            </audio>
        </center>
    </div>
</div>

<br>
<div style="margin:20px; padding:20px; border: 10px dashed black;background-color: gray;color: white">
    <center>
        <center><h2><br>We need to avoid unfair and unsafe moments like these.......<br></h2></center>
        <video width="320" height="240" controls>
            <source src="\AudioFiles\zkzwzqye2k3v_I9HKZxGa_Zpy8 - Copy.mp4">
        </video>
        <video width="320" height="240" controls>
            <source src="\AudioFiles\StevenA_Smith.mp4">
        </video>
    </center>
</div>
</div>

<!--protect from comments-->
