@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1><center> Podcasts Podcasts Podcasts!!!! <br /><br />Ready to download & listen!!!!</center></h1>
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["message"]</h3>*@
<p></p>

<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:dodgerblue">
        <h3>Podcast interviews from May 8th, 2021 Amateur Event, Knoxville Ohio</h3>
        <h5>Jim Frio on USA Boxing:</h5>
        <audio controls>
            <source src="\AudioFiles\FrioAdvantagesUSABoxing.wav">
        </audio>

        <h5>Rich Donelly calls amateur bout:</h5>
        <audio controls>
            <source src="\AudioFiles\RichDonnelyCallsBout.wav">
        </audio>
        <h5>Amateur Andrew A. After Winning First-ever Match</h5>
        <audio controls>
            <source src="\AudioFiles\AndrewA_Interview.wav">
        </audio>
        <h5>Wade Lipscomb Analyzes an Exciting Bout</h5>
        <audio controls>
            <source src="\AudioFiles\WadeLipscombCallsExcitingBout.wav">
        </audio>
       
    </div>
    
</div>