<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<style>
    #more {
        display: none;
    }
</style>
<h1 style="text-align: center">Learning the Ropes with Senior Boxing Judge, Mr. Jim Frio.</h1>
<br>

@*###########1111111111111111111111*@
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>
<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:aqua">
        <audio controls>
            <source src="~/AudioFiles/Judging-Tutorial-Clip-_2_.ogg" type="audio/ogg">
        </audio>
        <h3>Lesson One Podcast</h3>
        <p>A love for the sport of boxing.<span id="dots"></span><span id="more">&nbsp; &nbsp;During this eight-minute podcast, Mr. Frio discusses a lifetime of boxing experience and how a judge can sharpen their skills. Mr. Jim Frio, a former Senior Boxing Judge and former Acting Commsioner of the West Virginia Boxing Commission, has judged thousands of amateur and professional boxing matches in a years-long dediaction to the sport of boxing</span></p>
        <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
</div>
@*#######################################2222222222222222222222222*@
<script>
    function myFunction2() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more2");
        var btnText = document.getElementById("myBtn2");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:burlywood">
        <audio controls>
            <source src="~/AudioFiles/Judging-Tutorial-Clip-_3_.ogg" type="audio/ogg">
        </audio>
        <h3>Lesson Two Podcast</h3>
        <p>Safe & Fair Matches<span id="dots"></span><span id="more2">&nbsp; &nbsp;During this seven-minute podcast, Mr. Frio emphasizes boxer safety of and eliminating 'hometown' advantage</p>
        <button onclick="myFunction2()" id="myBtn2">Read more</button>
    </div>
</div>
@*##########################33333333333333333333333333333333*@
<script>
    function myFunction3() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more3");
        var btnText = document.getElementById("myBtn3");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>
<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:darksalmon">
        <audio controls>
            <source src="~/AudioFiles/Judging-Tutorial-Clip-_4_.ogg" type="audio/ogg">
        </audio>
        <h3>Lesson Three Podcast</h3>
        <p>The Four Components of Boxing Judging.<span id="dots"></span><span id="more3">&nbsp; &nbsp;During this ten-minute podcast, Mr. Frio discusses the four components of boxing judging: Effective Aggression, Ring Generalship, Defense, Clean/Hard Punching </span></p>
        <button onclick="myFunction3()" id="myBtn3">Read more</button>
    </div>
</div>
@*##########################444444444444444444444444444444444*@
<script>
    function myFunction4() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more4");
        var btnText = document.getElementById("myBtn4");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:gold;">
        <audio controls>
            <source src="~/AudioFiles/Judging-Tutorial-Clip-5.ogg" type="audio/ogg">
        </audio>
        <h3>Lesson Four Podcast</h3>
        <p>Amatuer Competition: Ineffective Aggression or Effective Pursuit? <span id="dots"></span><span id="more4">&nbsp; &nbsp;During this six-minute podcast, Mr. Frio examines the difference between Effective Aggression and Ineffective 'Bullying'. </span></p>
        <button onclick="myFunction4()" id="myBtn4">Read more</button>
    </div>
</div>
@*##########################555555555555555555555555555555555555555*@
<script>
    function myFunction5() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more5");
        var btnText = document.getElementById("myBtn5");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:olivedrab;">
        <audio controls>
            <source src="~/AudioFiles/Judging-Tutorial-Clip_6_.ogg" type="audio/ogg">
        </audio>
        <h3>Lesson Five Podcast</h3>
        <p>The Lost Opportunities Due to the Pandemic <span id="dots"></span><span id="more5">&nbsp; &nbsp;During this nineteen-minute podcast, Mr. Frio talks about the frustrations and lost opportunities, lost events, and the slow return path to live events'. </span></p>
        <button onclick="myFunction5()" id="myBtn5">Read more</button>
    </div>
</div>

@*##########################666666666666666666666666666666666*@
<script>
    function myFunction6() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more6");
        var btnText = document.getElementById("myBtn6");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:plum">
        <audio controls>
            <source src="~/AudioFiles/Judging-Tutorial-Clip-7_.ogg" type="audio/ogg">
        </audio>
        <h3>Lesson Six Podcast</h3>
        <p>Other Professions That Have Transitioned to On-Line Transactions <span id="dots"></span><span id="more6">&nbsp; &nbsp;During this eight-minute podcast, Mr. Frio discusses how his profession--auctioneering--has transitionsed to on-line events. </span></p>
        <button onclick="myFunction6()" id="myBtn6">Read more</button>
    </div>
</div>

@*##########################777777777777777777777777777777777777777777*@
<script>
    function myFunction7() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more7");
        var btnText = document.getElementById("myBtn7");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

<div class="audio-container">
    <div style="margin:20px; padding:20px; border: 5px dashed black; background-color:chocolate">
        <audio controls>
            <source src="~/AudioFiles/Judging-Tutorial-Clip-8_.ogg" type="audio/ogg">
        </audio>
        <h3>Lesson Seven Podcast</h3>
        <p>Keeping Your Skills Sharp Without Attending Live Events <span id="dots"></span><span id="more7">&nbsp; &nbsp;During this ten-minute podcast, Mr. Frio discusses being the 'odd judge out' on a split decision, and a trip to Las Vegas to see Tyson Fury-Deontay Wilder 2</span></p>
        <button onclick="myFunction7()" id="myBtn7">Read more</button>
    </div>
</div>

<img src="~/Images/Frio.png" width="1100" height="800">
<br>



